@using Chinook.BusinessModel.Models
@using Microsoft.AspNetCore.Http.Extensions;
@model Album
@{
    ViewData["Title"] = "Guardar Canción";
    var albums = (List<Album>)ViewBag.ListItems;
}

<h1>Albums</h1>

<div class="my-5">
    @using (Html.BeginForm("Post", "Album", FormMethod.Post))
    {
        <strong class="pr-2">Nombre </strong> @Html.EditorFor(m => m.Title)
        <br />

        <input class="btn btn-success btn-sm my-3" id="Submit" type="submit" value="Crear Album">
    }
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <td scope="col">ID</td>
            <td scope="col">Nombre</td>
            <td scope="col">Borrar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var album in albums)
        {
            <tr>
                <td>@album.AlbumId</td>
                <td>@album.Title</td>
                <td><input class="btn btn-danger btn-sm" id="Submit" type="submit" value="Borrar Album" onclick="deleteItem(@album.AlbumId)"></td>
            </tr>
        }
    </tbody>
</table>




<script>
    @if(ViewData["Deleted"] != null)
{
    if ((bool)ViewData["Deleted"])
    {
    <text>
    alert('Eliminado');
    </text>
    }
}



@if(ViewData["Modified"] != null)
{
    if ((bool)ViewData["Modified"])
    {
    <text>
    alert('Modificado');
    </text>
    }
}

    $(document).ready(function () {
        $('#table').DataTable({
            buttons: [
                {
                    extend: 'remove',
                    editor: myEditor
                }
            ]
        });
    });

    function deleteItem(itemId){
        return fetch('@Url.ActionContext.HttpContext.Request.GetEncodedUrl()/json/' + itemId, {
            method: 'Delete'
        }).then(response => {
            if (response.status == 200) {
                alert('Eliminado');
                window.location.replace('@Url.ActionContext.HttpContext.Request.GetEncodedUrl()');
                return;
            } });
    }
</script>