@using Chinook.BusinessModel.Models
@using Microsoft.AspNetCore.Http.Extensions;
@model Genre
@{
    ViewData["Title"] = "Géneros musicales";
    var genres = (List<Genre>)ViewBag.ListItems;

}
<h1>Géneros</h1>

<div class="my-5">
    @using (Html.BeginForm("Post", "Genre", FormMethod.Post))
    {
        <strong class="pr-2">Nombre </strong> @Html.EditorFor(m => m.Name)
        <br />
        <input class="btn btn-success btn-sm my-3" id="Submit" type="submit" value="Crear Género">
    }
</div>


<table id="table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in genres)
        {
            <tr>
                <td>@genre.GenreId</td>
                <td>@genre.Name</td>
                <td><input class="btn btn-danger btn-sm my-3" id="Submit" type="submit" value="Borrar Género" onclick="deleteItem(@genre.GenreId)"></td>
            </tr>
        }
    </tbody>
</table>

<script>
@if(ViewData["Deleted"] != null)
{
    if ((bool)ViewData["Deleted"])
    {
    <text>
    alert('Eliminado');
    </text>
    }
}



@if(ViewData["Modified"] != null)
{
    if ((bool)ViewData["Modified"])
    {
    <text>
    alert('Modificado');
    </text>
    }
}

    $(document).ready(function () {
        $('#table').DataTable({
            buttons: [
                {
                    extend: 'remove',
                    editor: myEditor
                }
            ]
        });
    });

    function deleteItem(itemId){
        return fetch('@Url.ActionContext.HttpContext.Request.GetEncodedUrl()/json/' + itemId, {
            method: 'Delete'
        }).then(response => {
            if (response.status == 200) {
                alert('Eliminado');
                window.location.replace('@Url.ActionContext.HttpContext.Request.GetEncodedUrl()');
                return;
            } });
    }
</script>
