@using Chinook.BusinessModel.Models
@{
    ViewData["Title"] = "Clientes";
    var clients = (List<Client>)ViewBag.Items;

}

<a asp-controller="Client" asp-action="Create" class="btn btn-success" role="button">Agregar Cliente</a>
<br>
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <td scope="col">Nombres</td>
            <td scope="col">Apellidos</td>
            <td scope="col">Correo</td>
            <td scope="col">Teléfono</td>
            <td scope="col">Opciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var cli in clients)
        {
            <tr>
                <td>@cli.Name</td>
                <td>@cli.LastName</td>
                <td>@cli.Email</td>
                <td>@cli.Phone</td>
                <td>
                    <a asp-controller="Client" role="button" asp-route-id="@cli.ClientId" asp-action="Edit" class="btn btn-info btn-sm">Editar</a>
                    <button class="btn btn-danger btn-sm" onclick="deleteItem(@cli.ClientId)">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>


</table>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    function deleteItem (id) {


        Swal.fire({
            title: 'Eliminar',
            text: '¿Desea eliminar este registro?',
            icon: 'question',
            confirmButtonText: 'Aceptar',
            showDenyButton: true,
            denyButtonText: 'Cancelar'

        }).then(function (isConfirm) {

            if (isConfirm.value) {
                var url = window.location.href + `/Remove/${id}`;

                window.location.replace(url);
            }


        })
    }
</script>

